.input-group {
    margin: 20px 0px;
}

td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

td {
    width: 250px;
    height: 200px;
}

body {
    padding: 10% 10%;
    margin: 0;
    background-color: #f2f9e8 !important;
}

